In [ ]:
# plotly
# https://plot.ly/python/ipython-notebook-tutorial/
# interactivity
# makes more sense...

In [262]:
import plotly.plotly as py
import plotly.figure_factory as ff

In [263]:
import pandas as pd
import numpy as np
import scipy as sp

In [264]:
# set credentials
plotly.tools.set_credentials_file(username='mingchang0804', api_key='lpbaXASTRzJWvoeGSzbk')

In [267]:
df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/school_earnings.csv")

# convert this to a json file
table = ff.create_table(df)

In [268]:
py.iplot(table)

In [228]:
import plotly.graph_objs as go

In [ ]:
# explore what's available
# go.

In [275]:
# bar charts
data = [go.Bar(x=df.School,
            y=df.gap)]
#data[0].y
py.iplot(data)

In [33]:
# time series

In [277]:
file_location = "/Users/mingchang/Downloads/"
file_name = "orders_new.csv"
my_data = pd.read_csv(file_location + file_name)

In [278]:
def GetSeries(my_data, my_id):
    table = my_data[["date", "spend_usd"]][my_data.experiment_id == my_id]
    series = table.groupby('date')['spend_usd'].sum()
    return(series)

my_series = GetSeries(my_data, 12624549)

In [279]:
my_series.index

Index([u'2017-04-01', u'2017-04-02', u'2017-04-03', u'2017-04-04',
       u'2017-04-05', u'2017-04-06', u'2017-04-07'],
      dtype='object', name=u'date')

In [280]:
data = [go.Scatter(x=my_series.index, y=my_series)]

In [281]:
data[0]

{'type': 'scatter',
 'x': Index([u'2017-04-01', u'2017-04-02', u'2017-04-03', u'2017-04-04',
        u'2017-04-05', u'2017-04-06', u'2017-04-07'],
       dtype='object', name=u'date'),
 'y': date
 2017-04-01    16047.543276
 2017-04-02    10098.424397
 2017-04-03     8810.436441
 2017-04-04     7717.685555
 2017-04-05     8376.836991
 2017-04-06     9793.380668
 2017-04-07    10152.279732
 Name: spend_usd, dtype: float64}

In [282]:
py.iplot(data)

In [41]:
# plot 2 series

In [283]:
red_series = GetSeries(my_data, 12624549)
blue_series = GetSeries(my_data, 12624548)

In [284]:
blue_series

date
2017-04-01    18232.061711
2017-04-02     9060.614970
2017-04-03    12151.588315
2017-04-04     8869.867894
2017-04-05     9759.266316
2017-04-06     8442.963212
2017-04-07    10997.229475
Name: spend_usd, dtype: float64

In [285]:
red = go.Scatter(x=red_series.index, y=red_series, line = dict(color = 'red'), name="Red")
blue = go.Scatter(x=blue_series.index, y=blue_series, line = dict(color = 'blue'), name="Blue")
data = [red, blue]

In [286]:
data[0]

{'line': {'color': 'red'},
 'name': 'Red',
 'type': 'scatter',
 'x': Index([u'2017-04-01', u'2017-04-02', u'2017-04-03', u'2017-04-04',
        u'2017-04-05', u'2017-04-06', u'2017-04-07'],
       dtype='object', name=u'date'),
 'y': date
 2017-04-01    16047.543276
 2017-04-02    10098.424397
 2017-04-03     8810.436441
 2017-04-04     7717.685555
 2017-04-05     8376.836991
 2017-04-06     9793.380668
 2017-04-07    10152.279732
 Name: spend_usd, dtype: float64}

In [287]:
py.iplot(data)

In [288]:
layout = dict(
    title = "Red vs. Blue",
    yaxis=dict(
        title='Average user spend'
    )
)
fig = dict(data=data, layout=layout)
py.iplot(fig)

In [123]:
import plotly.graph_objs as go
import plotly.plotly as py

from ipywidgets import widgets 
from IPython.display import display, clear_output, Image
from plotly.graph_objs import *
from plotly.widgets import GraphWidget

In [79]:
# most common: text input box
# https://plot.ly/python/textbox-widget/

In [213]:
from IPython.html import widgets 
from IPython.display import display, clear_output
from plotly.graph_objs import *
from plotly.widgets import GraphWidget

In [201]:
button = widgets.Button(description="Submit")

text_input = widgets.Text(
    description='Exp:',
    value='12624549',
)

In [202]:
valid = widgets.Valid(
    value=True,
)

In [203]:
message = widgets.HTML(
    value="",
)

In [217]:
g2=GraphWidget("https://plot.ly/~mingchang0804/53")

In [218]:
exp_id=12624549
my_series = GetSeries(my_data, exp_id)

In [219]:
my_series

date
2017-04-01    54019.941288
2017-04-02    34642.988992
2017-04-03    28645.762133
2017-04-04    27604.259313
2017-04-05    33149.441763
2017-04-06    29310.726245
2017-04-07    34640.122009
Name: spend_usd, dtype: float64

In [220]:
g2.plot({'data': [{'x': my_series.index, 'y': my_series }]})

In [221]:
type(g2)

plotly.widgets.graph_widget.GraphWidget

In [207]:
our_list = ["12624549", "12624548"]
df = my_data

In [208]:
df.head()

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,US,2017-04-02,12624549,6720123150182430132,49.99,3659561261588336546,ANDROID_APPS
1,US,2017-04-01,12624549,17511438899767627798,0.99,3659561261588336546,ANDROID_APPS
2,US,2017-04-04,12624549,1549342062436664018,39.99,3659561261588336546,ANDROID_APPS
3,US,2017-04-04,12624549,7771425263197855716,19.99,3659561261588336546,ANDROID_APPS
4,US,2017-04-01,12624549,17943210556580942992,19.99,3659561261588336546,ANDROID_APPS

In [209]:
def isTextValid(text):
    if text_input.value.upper() in our_list:
        valid.value=True
        exp_id = int(text_input.value)
        my_series = GetSeries(my_data, exp_id)
        print(my_series)
        g2.plot({'data': [{'x': my_series.index, 'y': my_series }]})
        g2.relayout({'title': 'Experiment: {}'.format(text_input.value)})
        message.value = ""
    else: 
        valid.value=False
        message.value = "<font color=\"red\">Can't find that experiment id</font>"

In [210]:
# listener
button.on_click(isTextValid)

In [211]:
container = widgets.HBox(children=[text_input, button, valid, message])
display(container)
display(g2)

date
2017-04-01    54019.941288
2017-04-02    34642.988992
2017-04-03    28645.762133
2017-04-04    27604.259313
2017-04-05    33149.441763
2017-04-06    29310.726245
2017-04-07    34640.122009
Name: spend_usd, dtype: float64
date
2017-04-01    55504.518743
2017-04-02    31317.138253
2017-04-03    31583.940583
2017-04-04    23615.742230
2017-04-05    30899.812674
2017-04-06    27768.181870
2017-04-07    32957.001652
Name: spend_usd, dtype: float64